name: gig_buddy
description: "The platform that brings concert lovers together."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.0.1+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  bloc: ^8.1.4
  flutter_bloc: ^8.1.6
  provider: ^6.1.2
  shared_preferences: ^2.3.3
  very_good_analysis: ^6.0.0
  go_router: ^14.4.1
  json_annotation: ^4.9.0
  json_serializable: ^6.9.0
  freezed: ^2.5.7
  build_runner: ^2.4.13
  freezed_annotation: ^2.4.4
  flutter_svg: ^2.1.0
  equatable: ^2.0.7
  google_fonts: ^6.2.1
  dio: ^5.8.0+1
  device_info_plus: ^11.3.3
  package_info_plus: ^8.3.0
  fresh_dio: ^0.4.3
  flutter_secure_storage: ^9.2.4
  geolocator: ^13.0.4
  firebase_core: ^3.13.0
  firebase_auth: ^5.5.2
  bloc_concurrency: ^0.2.5
  intl: ^0.20.2
  avatar_stack: ^3.0.0
  flutter_image_compress: ^2.4.0
  image_picker: ^1.1.2
  logger: ^2.5.0
  google_sign_in_platform_interface: ^2.5.0
  google_sign_in_ios: ^5.9.0
  google_sign_in_android: ^6.2.1
  shimmer: ^3.0.0
  infinite_scroll_pagination: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/images/onboarding/
    - assets/svg/
    - assets/svg/logo/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
